name: Jediswap Release

on:
  workflow_dispatch:
    inputs:
      releaseType:
        description: 'Release type'
        required: true
        default: 'STAGING'
        type: choice
        options:
          - 'STAGING'
          - 'TESTNET'
          - 'PRODUCTION'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build Project
        run: CI=false yarn ${RELEASE_TYPE,,}-build
        env:
          RELEASE_TYPE: ${{ inputs.releaseType }}

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets[format('AWS_ACCESS_KEY_ID_{0}', inputs.releaseType)] }}
          aws-secret-access-key: ${{ secrets[format('AWS_SECRET_ACCESS_KEY_{0}', inputs.releaseType)] }}
          aws-region: us-east-1
      - name: Deploy app build to S3 bucket
        run: aws s3 sync ./build/ s3://$BUCKET_NAME
        env:
          BUCKET_NAME: ${{ secrets[format('AWS_S3_BUCKET_NAME_{0}', inputs.releaseType)] }}

      - name: Run Cache Invalidation
        run: aws cloudfront create-invalidation --distribution-id $CDN_DISTRIBUTION_ID --paths /\*
        env:
          CDN_DISTRIBUTION_ID: ${{ secrets[format('AWS_CDN_DISTRIBUTION_ID_{0}', inputs.releaseType)] }}
